{% extends 'base.html' %} {% block content %} {% load static %}
<div style="padding-left:16px">
    <h2>Docs</h2>
</div>
<div>
    <a href="{% url 'frontend:doc_create' %}">Add doc</a>
</div>
<div>
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Type</th>
            <th>Created</th>
            <th>Modified</th>
            <th>OS</th>
        </tr>
        {% for doc in result %}
        <tr>
            <td> {{ doc.pk }}</td>
            <td>
                <a href="{% url 'frontend:doc_view' doc.pk %}">{{ doc.name }}</a>
            </td>
            <td> {{ doc.get_type_display }}</td>
            <td> {{ doc.created }}</td>
            <td> {{ doc.modified }}</td>
            <td> {{ doc.get_os_display }} </td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}