{% extends 'base.html' %} {% block content %} {% load static %}
<script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
<script>
    $(document).on("click", ".file_load_button", function() {
        let filename = $(this).text();;
        console.log(filename);

        var url = "{% url 'frontend:file_view' filename=0 %}".replace('0', filename.toString())
        document.location.href = url
    });
</script>

<div style="padding-left:16px">
    <h2>Files</h2>
</div>
<div>
    <table>
        <tr>
            <th>Name</th>
            <th>Modified</th>
            <th>Content type</th>
            <th>Size</th>
            <th>Version ID</th>
        </tr>
        {% for file in result %}
        <tr>
            <th>
                <button class="file_load_button">{{ file.object_name }}</button>
            </th>
            <th> {{ file.last_modified }}</th>
            <th> {{ file.content_type }}</th>
            <th> {{ file.size }} </th>
            <th> {{ file.version_id }} </th>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}