{% extends 'base.html' %} {% block content %} {% load static %}
<div style="padding-left:16px">
    <h2>Peers</h2>
</div>
<div>
    <a href="{% url 'frontend:peer_create' %}">Add peer</a>
</div>
<div>
    <table>
        <tr>
            <th>ID</th>
            <th>Hostname</th>
            <th>IP-Address</th>
            <th>Username</th>
            <th>SSH-Port</th>
            <th>OS</th>
        </tr>
        {% for peer in result %}
        <tr>
            <td> {{ peer.pk }}</td>
            <td>
                <a href="{% url 'frontend:peer_view' peer.pk %}">
                    {{ peer.hostname }}</a>
            </td>
            <td> {{ peer.ip_address }}</td>
            <td> {{ peer.username }}</td>
            <td> {{ peer.ssh_port }}</td>
            <td> {{ peer.get_os_display }} </td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}