{% extends 'base.html' %} {% block content %} {% load static %}
<div style="padding-left:16px">
    <h2>Children of Task {{ origin }}</h2>
</div>
<div>
    <table>
        <tr>
            <th>Task ID</th>
            <th>Name</th>
            <th>args</th>
            <th>kwargs</th>
            <th>Status</th>
            <th>Worker</th>
            <th>Date done</th>
        </tr>
        {% for child in children %}
        <tr>
            <td>
                <a href="{% url 'frontend:show_task' child.task_id %}">{{ child.task_id }}</a>
            </td>
            <td> {{ child.name }} </td>
            <td> {{ child.args }} </td>
            <td> {{ child.kwargs }} </td>
            <td> {{ child.status }} </td>
            <td> {{ child.worker }} </td>
            <td> {{ child.date_done }} </td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}