minio==7.1.3
celery==5.2.3
redis==4.1.2
amqp==5.0.9
requests
opentelemetry-instrumentation
opentelemetry-exporter-jaeger
opentelemetry-sdk
opentelemetry-instrumentation-celery
opentelemetry-instrumentation-requests