django==4.0.2
djangorestframework==3.13.1
djangorestframework-simplejwt==5.0.0
django-cors-headers==3.11.0
celery==5.2.3
redis==4.1.2
amqp==5.0.9
pymysql
opentelemetry-instrumentation
opentelemetry-exporter-jaeger
opentelemetry-sdk
opentelemetry-instrumentation-celery
opentelemetry-instrumentation-django
opentelemetry-instrumentation-requests
opentelemetry-instrumentation-logging
opentelemetry-instrumentation-dbapi
requests
daphne
channels
channels-redis